*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

p{
    font-size: 18px;
}
  /* head section */
.header{
    width: 100%;
    height: 669px;
    background-image: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%),url(images/donation5.jpg);           
    background-size:cover;
    background-position:absolute;      
}

.text-box{
    color: #fff;
    padding-top:180px;
    text-align: center;
}

.text-box h1{
    font-size:60px;
    font-weight: 600;
}

.donate-btn{
    color: #fff;
    font-weight: 600;
    background-color: firebrick;    
    padding: 16px 20px;
    border-radius: 5px;
}
   /* amount section */
.amount-section{
    margin-top: 120px;
}
.amount-instruction{
   text-align: center;
}

.select-amount{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.select-one{
    width: 135px;
    height: 123px;
    box-sizing: border-box;
    margin:10px;
    padding-bottom: 10px;
    background-color: #FAFAFA;    
    border-radius: 6px;
    box-shadow: 2px;
    text-align: center;
}

.select-one a{
    font-size: 30px;
    font-weight: 600;
    color: gray;
    position: relative;
    top: 40%;
    transform: translate(-50%);   
}

.red-one{
    border: 2px solid rgb(247, 119, 96);
    background-color: rgb(252, 231, 227);
}

.red-one a{
    color: rgb(247, 119, 96);
}

.enter-amount {
    margin-top:90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}
 .amount-number{
    margin-bottom: 40px;
    width:754px;
    border: none;
    border-bottom: 2px solid black;   
 }

 .text-box-2{
    text-align: center;
    margin-top: 130px;
 }
    /* service section */
 .services{
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 352px;
    margin: 100px auto;
 }
 
 .service-items{
    width: 360px;
    height: 352px;
    margin:20px;
    padding:20px;
    border-radius: 5px;
    box-sizing: border-box;
 }

 .service-item-food{
    background-color: rgba(79, 157, 166, 0.1);;
 }

 .service-item-shelter{
    background-color:  rgba(255, 89, 89, 0.1);;
 }

 .service-item-education{
    background-color:  #f8f2d4;
 }
 /* contribution section */
 .contribute-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;

 }

 .affected-people{
    width: 456px;
    height: 477px;
    border-radius: 5px;
 }

 .contribute-details{
    margin: 20px;
 }

 .donation{
   margin: 20px;   
 }

 .contribute-details h1{
    font-size:50px;
 }
 /* subscription section */
 .wrapper{
    display: flex;
    align-items: center;   
    width: 800px;
    height: 180px;
    margin: 40px auto;
    background-color: #FFF4D6;
 }

 .enter-mail{
    width: 420px;
    height: 42px;
    padding-top:70px;
    padding-left: 220px;
    margin-bottom: 72px;
 }

 .email-name{
    width: 320px;
    height: 42px;
    text-align: center;
    background-color: #D9D9D9;   
    border: 1px solid gray;
 }
 
.subscribe-btn{
    width: 150px;
    height: 40px;
    color: white;
    font-weight: 500;
    background-color: #FF5959;
    margin-right: 200px;
    padding: 14px 16px;   
}
   /* footer section */
.appreciate{
    height: 167px;
    text-align: center;
    margin-top: 120px;
    background-color: #0B0D17;
    padding-top: 80px;
    color: white;
}

.appreciate h1{
  font-size: 50px;
  font-weight: 600;
  font-family: 'Lobster', cursive;
  color: #FF5959;
}